%section.contentSection.introduction
	.layoutWrapper
		%h2 Introduction
		%p= image_tag "http://placehold.it/2000x450", alt: "Placeholder"

		%p Welcome to Exmoor Logs, we are a small local business based in Lynton, Devon.

		%p We have high quality seasoned logs available for year round delivery throughout the North Devon area.

		%p All logs produced by Exmoor Logs have been sourced from local and well managed woodlands.
