%section.contentSection.delivery#delivery
  .layoutWrapper
    %h2 Delivery

    %p We will happily deliver to anywhere in North Devon and West Somerset area, including;

    %ul
      %li Lynton
      %li Lynmouth
      %li Brendon
      %li Parracombe
      %li Simonsbath

    %p Delivery charges are included in the stated price up to 20 miles radius of Brendon

    %p
      For delivery charges over this distance please
      = link_to "contact us.", "/#contact"

    %p Delivery 7 days a week at a time convenient to you.
