%section.contentSection.aboutUs#aboutUs
	.layoutWrapper
		%h2 About us
		%p= image_tag "logs.jpg", alt: "Logs"

		%p Welcome to Exmoor Logs, we are a small local business based in Lynton, Devon.

		%p We have high quality seasoned logs available for year round delivery throughout the North Devon area.

		%p All logs produced by Exmoor Logs have been sourced from local and well managed woodlands.
