%section.contentSection.prices#prices
	.layoutWrapper
		%h2 Prices

		%ul
			%li 1.0 cubic metre: &#163;50.00
			%li 2.0 cubic metres: &#163;100.00

		%p Payment on delivery by bank transfer, cheque or cash
