%section.contentSection.services#services
	.layoutWrapper
		%h2 Services
		%ul
			%li Stacking
			%li Complimentary bag of kindling with every order
			%li The standard log lengths offered are:  25cms / 30cms / 35cms
			%li Longer lengths of logs are available up to 1.2mtrs
