%head
  %meta(charset="utf-8")
  %meta(http-equiv="X-UA-Compatible" content="IE=edge")

  %title
    | Exmoor Logs

  %meta(name="description" content="Exmoor Logs")
  %meta(name="viewport" content="width=device-width, initial-scale=1")

  = stylesheet_link_tag "styles"
  = yield_content :css
