%header.layoutHeader(role="banner")
  .layoutWrapper
    .brandLogo
      = link_to "Exmoor Logs", "/"
      %br/
      Lynton - Devon

    = partial "layouts/inc/primary-nav"

  / .layoutWrapper
  /   %p Order logs today: <strong>{% include mobile.html %}</strong> | We deliver 7 days a week
