.button {
    border: none;
    border-bottom: 4px solid $color-orange-dark;
    @include border-radius(5px);
    background: $color-orange;
    color: $color-white;
    cursor:pointer;
    padding: $base-padding;

    &:hover,
    &:active,
    &:focus {
        background: lighten($color-orange, 5%);
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}
