/**
 * Vertical align
 *
 * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 *
 * @Usage: @extend %vertical-align-50;
 */

%vertical-align-50 {
  position: relative;
  top: 50%;

  .csstransitions & {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .lt-ie9 {
    top: auto;
  }
}
